<p>searchimage works!</p>
<div class="container">
  <div class="row">

    <div class="col-md-2"> Search: </div>
    <div class="col-md-4 "><input type="text" class="form-control" [(ngModel)]="keywordsrc"></div>
    <div class="col-md-6">
      <button class="btn btn-success form-control"
              height="20px" id="searchimg" (click)="SearchImg()">
        Search images
      </button>
    </div>
  </div>
  <br />

  <div *ngIf="searchImages.length!=0">
    <div class="row">
      <div class="col-md-3" *ngFor="let imgSrc of searchImages" style=" height: 200px; overflow: hidden;">

        <img [src]="imgSrc.webFormatURL" class="img-fluid mt-4" width="100%">

      </div>
    </div>
  </div>
</div>

<div class="row">
  <!-- {{searchimage[0]|json}} -->
</div>
