<div class="container mt-5">
  <div class="row">
    <div class="col-md-12">
      <input type="text" class="form-control searchbox" placeholder="Search Images" [(ngModel)]="keywordsrc">
      <button class="btn btn-success form-control"
       id="searchimg" (click)="SearchImg()">Search</button>
    </div>
   
  </div>
  <br /> 
  <div *ngIf="searchImages.length!=0">
    
    <div class="row">
      <div class="col-md-3" *ngFor="let imgSrc of searchImages" style=" height: 200px; overflow: hidden;">
        
        <img [src]="imgSrc.webformatURL" class="img-fluid mt-4" width="100%">
      </div>
    </div>
  </div>
</div>

