body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.menu {
    background: #00796b !important;
    padding: 0;
}
.menu .nav-item {
    padding: 5px 20px;
}
.menu .nav-link {
    color: #fff !important;
}
.menu .navbar-brand {
    background: #fff;
    padding: 5px 16px;
    border-radius: 2px;
}